.record-card {
  background-color: #1A1A1A;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 16px;

  .card-header {
    margin-bottom: 16px;

    .date {
      font-size: 26px;
      color: #888888;
    }
  }

  .exercises, .measurements {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .exercise-tag, .measurement-tag {
      background-color: #252525;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: 24px;
      color: #FFFFFF;
    }
  }
}